.container {
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.column-full,
.column-half {
  padding: 0 0.75rem;
  margin-bottom: 2rem;
}

.navlink {
  display: none;
}

.dis-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .column-half {
    flex-basis: 50%;
  }

  .navlink {
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
